<section class="projects-section" id="projects">

    <div class="subtile">
        <h2>Projects</h2>
    </div>

    <div class="project-card">
        <div class="project-header">
          <img src="../../assets/images/AdoptionCenterHomePage.jpg" alt="Project Image" class="project-image">
          <h2 class="project-title">Pet Adoption Website</h2>
        </div>
        <div class="project-body">
          <p class="project-description">
            A pet adoption website design to adopt or give in adoption pets. The app features creation, editing, and deletion of pet's information. It offers a user-friendly interface and responsive design.
          </p>
          <ul class="project-technologies">
            <li>Frontend: ASP.NET MCV</li>
            <li>Backend: ASP.NET Web API</li>
            <li>Database: SQL Server</li>
            <li>Tools: Git</li>
          </ul>
        </div>
        <div class="project-footer">
          <!-- <a href="https://yourtaskmanagerapp.com" class="project-link" target="_blank">Demo</a> -->
          <a href="https://github.com/LeoLoureiro-code/form-validator-vanilla-js" class="project-link" target="_blank">Code</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-header">
          <img src="../../assets/images/shopping-cart.png" alt="Project Image" class="project-image">
          <h2 class="project-title">Shopping cart</h2>
        </div>
        <div class="project-body">
          <p class="project-description">
            A shopping cart feature to any e-commerce, can add items and clear cart. Completely dynamic and web responsive.
          </p>
          <ul class="project-technologies">
            <li>Frontend: React</li>
            <!-- <li>Backend: .NET Core, ASP.NET</li> -->
            <!-- <li>Database: SQL Server</li> -->
            <li>Tools: Git</li>
          </ul>
        </div>
        <div class="project-footer">
          <a href="https://leoloureiro-code.github.io/Shopping-Cart/" class="project-link" target="_blank">Demo</a>
          <a href="https://leoloureiro-code.github.io/Shopping-Cart/" class="project-link" target="_blank">Code</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-header">
          <img src="../../assets/images/rpsls.jpg" alt="Project Image" class="project-image">
          <h2 class="project-title">Rock, Paper, Scissors, Lizard, Spock</h2>
        </div>
        <div class="project-body">
          <p class="project-description">
            A Rock, Paper, Scissors, Lizard, Spock game. This game can be play with the CPU. 
          </p>
          <ul class="project-technologies">
            <li>Frontend: Angular, HTML, CSS, TypeScript</li>
            <!-- <li>Backend: .NET Core, ASP.NET</li>
            <li>Database: SQL Server</li> -->
            <li>Tools: Git, Azure DevOps, Docker</li>
          </ul>
        </div>
        <div class="project-footer">
          <!-- <a href="" class="project-link" target="_blank">Demo</a> -->
          <a href="https://leoloureiro-code.github.io/Shopping-Cart/" class="project-link" target="_blank">Code</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-header">
          <img src="../../assets/images/Designo.png" alt="Project Image" class="project-image">
          <h2 class="project-title">Designo</h2>
        </div>
        <div class="project-body">
          <p class="project-description">
            Designo is a Single Page Application from a fictitious company that contains all the examples of page designs they have created, location and contact pages.
          </p>
          <ul class="project-technologies">
            <li>Frontend: Angular, SCSS</li>
            <!-- <li>Backend: .NET Core, ASP.NET</li>
            <li>Database: SQL Server</li> -->
            <li>Tools: Git</li>
          </ul>
        </div>
        <div class="project-footer">
          <a href="https://designo.leoloureiro.me/home" class="project-link" target="_blank">Demo</a>
          <a href="https://github.com/LeoLoureiro-code/Designo" class="project-link" target="_blank">Code</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-header">
          <img src="../../assets/images/advicegenerator.png" alt="Project Image" class="project-image">
          <h2 class="project-title">Advice Generator App</h2>
        </div>
        <div class="project-body">
          <p class="project-description">
            An advice generator app design to give you a daily advice. It offers a user-friendly interface and responsive design.
          </p>
          <ul class="project-technologies">
            <li>Frontend: HTML, CSS, Javascript</li>
            <li>Backend: API</li>
            <!-- <li>Database: SQL Server</li> -->
            <li>Tools: Git</li>
          </ul>
        </div>
        <div class="project-footer">
          <a href="https://leoloureiro-code.github.io/advice-generator-app-main/" class="project-link" target="_blank">Demo</a>
          <a href="https://github.com/LeoLoureiro-code/advice-generator-app-main" class="project-link" target="_blank">Code</a>
        </div>
      </div>
    
</section>