<section class="about-section" id="about">
    <div class="subtile">
        <h2>About</h2>
    </div>
    <div class="about-info">
        
        <div class="info">
            <img class="info-img" src="../../assets/icons/myself.png" alt="user image"/>
            <p class="about-intro">
                As a dedicated and passionate full stack developer, I thrive on the thrill of continuous learning and exploration. 
                With a deep-rooted love for both front-end and back-end technologies, I am committed to crafting seamless and dynamic 
                user experiences. My journey in software development is fueled by an insatiable curiosity and a drive to stay at the 
                forefront of industry advancements.
                Join me as I continue to navigate the ever-evolving landscape of technology, one line of code at a time.
            </p>
        </div>
        <div class="skills">
            <div class="skill-row">
                <div class="skill">
                    <img src="../../assets/icons/html.png" alt="HTML icon" class="skill-img">
                    <p class="skill-name">HTML</p>
                </div>
                <div class="skill">
                    <img src="../../assets/icons/css.png" alt="CSS icon" class="skill-img">
                    <p class="skill-name">CSS</p>
                </div>
                <div class="skill">
                    <img src="../../assets/icons/javascript.png" alt="CSS icon" class="skill-img">
                    <p class="skill-name">Javascript</p>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill">
                    <img src="../../assets/icons/net.png" alt=".NET icon" class="skill-img">
                    <p class="skill-name">.NET</p>
                </div>
                <div class="skill">
                    <img src="../../assets/icons/git.png" alt="Git icon" class="skill-img">
                    <p class="skill-name">Git</p>
                </div>
                <div class="skill">
                    <img src="../../assets/icons/csharp.png" alt="javascript icon" class="skill-img">
                    <p class="skill-name">C#</p>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill">
                    <img src="../../assets/icons/angular.png" alt="Angular icon" class="skill-img">
                    <p class="skill-name">Angular</p>
                </div>
                <div class="skill">
                    <img src="../../assets/icons/sass.png" alt="Sass icon" class="skill-img">
                    <p class="skill-name">Sass</p>
                </div>
                <div class="skill">
                    <img src="../../assets/icons/sql.png" alt="Sass icon" class="skill-img">
                    <p class="skill-name">SQL</p>
                </div>
            </div>
        </div>
    </div>
</section>