<section class="contact-section" id="contact">

    <div class="subtile">
        <h2>Contact</h2>
    </div>

    <div class="contacts-div">
        <div class="contact-link">
            <a href="https://github.com/LeoLoureiro-code" target="_blank">
                <img src="../../assets/icons/github.png" alt="Github icon" class="link-img">
            </a>
            <p>Github</p>
        </div>
        <div class="contact-link">
            <a href="mailto:leolou.90@gmail.com" target="_blank">
                <img src="../../assets/icons/email.png" alt="Email icon" class="link-img">
            </a>
            <p>Email</p>
        </div>
        <div class="contact-link">
            <a href="https://www.linkedin.com/in/leonardo-loureiro-/" target="_blank">
                <img src="../../assets/icons/linkedin.png" alt="linkedin icon" class="link-img">
            </a>
            <p>Linkedin</p>
        </div>
    </div>

</section>
